In [3]:
import mysql.connector as sql

ModuleNotFoundError: No module named 'mysql'