In [1]:
info={
    "name":"Cristiano Ronaldo",
    "job":"Professional Footballer",
    "Salary":"Millions of Dollars"
}
for y in info.keys():
    print(y)

name
job
Salary

In [2]:
for y in info.values():
    print(y)

Cristiano Ronaldo
Professional Footballer
Millions of Dollars

In [4]:
for y in info.items():
    print(y[0]+" = "+y[1])

name = Cristiano Ronaldo
job = Professional Footballer
Salary = Millions of Dollars

In [5]:
info

{'name': 'Cristiano Ronaldo',
 'job': 'Professional Footballer',
 'Salary': 'Millions of Dollars'}

In [7]:
info.update({"wife":1})

In [8]:
info

{'name': 'Cristiano Ronaldo',
 'job': 'Professional Footballer',
 'Salary': 'Millions of Dollars',
 'wife': 1}

In [10]:
info.update({"unlucky":1})

In [11]:
info

{'name': 'Cristiano Ronaldo',
 'job': 'Professional Footballer',
 'Salary': 'Millions of Dollars',
 'wife': 1,
 'unlucky': 1}

In [12]:
del info["unlucky"]

In [13]:
info

{'name': 'Cristiano Ronaldo',
 'job': 'Professional Footballer',
 'Salary': 'Millions of Dollars',
 'wife': 1}

In [14]:
num=[x for x in range(1,101)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
values=[x**2 for x in range(10,100)]
print(values)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [18]:
number=int(input("Enter the number"))
print(type(number))

while number<0:
    print("Your number is invaild because it's "+str(number))
    number=int(input("Enter the another number"))
    
print("Exited")

Enter the number-1
<class 'int'>
Your number is invaild because it's -1
Enter the another number-99
Your number is invaild because it's -99
Enter the another number-77
Your number is invaild because it's -77
Enter the another number77
Exited

In [ ]:
x=7
y=7

if(x>y):
    print("X is greater than Y")
else if(x==y):
    print("X is equal with Y")
else:
    print("Y is greater than X")